# https://bazel.build/external/migration#enable-bzlmod
common --enable_bzlmod

# Use C++20.
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# Disable Bazel's strict include layering check. Without this, transitive
# includes are forbidden, exposing missing #include directives in dependencies.
build --features=-layering_check
build --host_features=-layering_check

# To allow loops with int and comparison against a .size() that's size_t.
build --copt=-Wno-sign-compare
build --host_copt=-Wno-sign-compare
